css
.text-container {
    position: relative;
  }
  
  .foreground-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Помещаем основной текст поверх остальных элементов */
  }
  
  .background-text {
    animation: blink 1s infinite alternate, color-change 3s infinite; /* Анимация мигания и изменения цвета фона текста /
    z-index: 1; / Помещаем фоновый текст ниже основного текста */
  }
  
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes color-change {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: yellow;
    }
    100% {
      color: red;
    }
  }
  
.popup {
  position: fixed;
  top: 50px;
  left: 50%; /* располагаем по центру */
  transform: translateX(-50%);
  background-color: #361d7e;
  padding: 10px;
  border: 1px solid #0cf565;
}
.popup a {
  text-decoration: none;
  color: #14b436;
}


container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(160, 10, 10);
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Замените это значение на желаемую ширину изображения */
  border: 2px solid rgb(0, 136, 113);